# jupyter markdown
## jupyter markdown
### jupyter markdown
#### jupyter markdon
##### jupyter markdown

- point 1
- point 2
- point 3
- point 4

- point 1
  **subpoint 1.1**
  *subpoint 1.2*
  ***subpoint 1.3***
- point 2

In [2]:
# Input and Output Function 
# Output Function
print("hello world")
print("this is crt class")

hello world
this is crt class

In [6]:
print("markdown cell",end=' ')
print("code cell")

markdown cell code cell

In [9]:
# input function
print("enter ur name: ")
a=input('')
print('your name is',a)

enter ur name:
vaishnavi
your name is vaishnavi

### inserting an image using markdown
![Image]()

### inserting a site using markdown
[site](https://www.google.com/search?q=car&rlz=1C1PRFE_enIN701IN702&sxsrf=ACYBGNRPFhMiY9klxurVuJMwIjW0NwGZJQ:1576212607540&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjsk8DE6bHmAhWPyDgGHUfFAAEQ_AUoAXoECBAQAw&biw=656&bih=608#imgrc=_)

In [10]:
#basic example
x=10
print(type(x))
print(x)

<class 'int'>
10

In [11]:
x=a
print(type(x))
print(x)

<class 'str'>
vaishnavi

In [12]:
x=1.3
print(type(x))
print(x)

<class 'float'>
1.3

In [13]:
x=True
print(type(x))
print(x)

<class 'bool'>
True

In [16]:
x=complex(3,5)
print(type(x))
print(x)

<class 'complex'>
(3+5j)

In [18]:
x="vaishu"
print(type(x))
print(x)

<class 'str'>
vaishu

In [19]:
c1=5+6j
c2=3+6j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(8+12j)
(2+0j)
(-21+48j)

In [20]:
a=10 #boolean
b=5
a>b

True

In [21]:
a=100
b=90
a<b

False

In [22]:
s1="abd"
s2="efd"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [23]:
s1="100"
print(type(s1))

<class 'str'>

In [26]:
s1="12ab"
print(type(s1))

<class 'str'>

In [27]:
# data type conversions
s1="100"
print(type(s1))
b=int(s1)
print(type(b))
f=2.4
a=int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [28]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [32]:
#a number is given 23456
#digit count
s=23456
print(len(str(s)))

5

In [34]:
# arithmetic operators
a=20
b=30
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)
print(a**b)
print(a//b)#float divison

50
-10
600
20
0.6666666666666666
1073741824000000000000000000000000000000
0

In [37]:
#relational operators
x=20
y=10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [39]:
# logical operators
x=20
y=30
print(x>=10 and x<=20)
print(x>=5 or x<=20)
print(not x)

True
True
False

In [40]:
#membership operators
str1="abc"
print('a' in str1)
print('d' not in str1)

True
True

In [47]:
#conditional statements
n=int(input("enter a number:"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number:56
even

In [52]:
#To check whether the number is a multiple of 3 and 5
n=int(input("enter a number:"))
if n%3==0 and n%5==0:
    print("it is a multiple of 3 and 5")
else:
    print("it is not multiple of 3 and 5")

enter a number:15
it is a multiple of 3 and 5

In [59]:
#To check whether the given number is positive,negative or zero
n=int(input("enter a number:"))
if n>0:
    print("positive number")
elif n<0:
    print("negative number")
elif n==0:
    print("zero")
else:
    print("invalid")

enter a number:0
zero

In [60]:
#To check whether the given year is leap year or not
n=int(input("enter an year:"))
if n%4==0:
    print("leap year")
else:
    print("not a leap year")

enter an year:2012
leap year

In [63]:
#To check whether a person is eligible for voting or not
age=int(input("enter the age of a person:"))
if age>=18 and age<=85:
    print("he is eligible for voting")
else:
    print("he is not eligible")

enter the age of a person:56
he is eligible for voting